.home-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-hero__image{
    align-items: center;
    justify-content: center;
}
.hero__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero_head{
    font-size: 37px;
    font-weight: 500;
    color: #71c55d;
}
.button_{
    padding: 5px;
    font-size: 25px;
    color:#71c55d;
    background-color: white;
    border: #71c55d 2px solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}